import { Options } from 'mikro-orm';
import { Article } from './article/article.entity';
import { Comment } from './article/comment.entity';
import { User } from './user/user.entity';
import { Tag } from './tag/tag.entity';
import { Tagging } from './tagging/tagging.entity';

const config = {
  type: 'mysql',
  host: 'localhost',
  port: 3307,
  username: 'root',
  password: '',
  dbName: 'nestjsrealworld',
  entities: [Article, Comment, User, Tag, Tagging],
  entitiesDirsTs: ['src'],
  debug: true,
} as Options;

export default config;
